*.ppt
*.class
*.xml
*.lst
*.docx
*.jpg
.md
lib
.json
*.vscode
*.pdf
/lab1/target/
/exkethua/nbproject/private/
/kethua/nbproject/private/
/kethua/build/
/test/target/
/JavaApplication3/nbproject/private/
/demo/target/
